<!DOCTYPE html>
<html>
  <head>
    <title>Play Game <%= game_id %> - Multiplayer Block Fun</title>
    <style>
    </style>
  </head>
  <body>
    <h1>GAME <%= game_id %></h1>
    <h3><%= nickname %></h3>
    <div id="canvas">
    </div>
    <style>
      #canvas {
        width:500px;
        height:500px;
        border:1px solid #000000;
        position: relative;
      }
      .icon {
        width:25px;
        height:25px;
        position:absolute;
        border-radius:3px;
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // declaring socket
      var socket = io();

      // icon movement
      document.onkeydown = checkKey;
      function checkKey(e) {
          console.log("keydown")
          e = e || window.event;
          console.log(e.keyCode)
          user_icon = document.getElementById("<%= nickname %>")
          if (e.keyCode == '38') {
            // up arrow
            if (parseInt(user_icon.style.top.replace("px", "")) > 0){
              user_icon.style.top = (parseInt(user_icon.style.top.replace("px", "")) - 10) + "px";
              let x_cord = parseInt(user_icon.style.left.replace("px", ""))
              let y_cord = parseInt(user_icon.style.top.replace("px", ""))
              socket.emit("movement", "<%= nickname %>", "<%= game_id %>", x_cord, y_cord)
            }
          }
          else if (e.keyCode == '40') {
            // down arrow
            if (parseInt(user_icon.style.top.replace("px", "")) < 500){
              user_icon.style.top = (parseInt(user_icon.style.top.replace("px", "")) + 10) + "px";
              let x_cord = parseInt(user_icon.style.left.replace("px", ""))
              let y_cord = parseInt(user_icon.style.top.replace("px", ""))
              socket.emit("movement", "<%= nickname %>", "<%= game_id %>", x_cord, y_cord)
            }
          }
          else if (e.keyCode == '37') {
            // left arrow
            if (parseInt(user_icon.style.left.replace("px", "")) > 0){
              user_icon.style.left = (parseInt(user_icon.style.left.replace("px", "")) - 10) + "px";
              let x_cord = parseInt(user_icon.style.left.replace("px", ""))
              let y_cord = parseInt(user_icon.style.top.replace("px", ""))
              socket.emit("movement", "<%= nickname %>", "<%= game_id %>", x_cord, y_cord)
            }
          }
          else if (e.keyCode == '39') {
            // right arrow
            if (parseInt(user_icon.style.left.replace("px", "")) < 500){
              user_icon.style.left = (parseInt(user_icon.style.left.replace("px", "")) + 10) + "px";
              let x_cord = parseInt(user_icon.style.left.replace("px", ""))
              let y_cord = parseInt(user_icon.style.top.replace("px", ""))
              socket.emit("movement", "<%= nickname %>", "<%= game_id %>", x_cord, y_cord)
            }
          }
      }

      // generating all icons
      const canvas = document.getElementById("canvas");
      const randomX = Math.round((Math.random() * 475)/10) * 10;
      const randomY = Math.round((Math.random() * 475)/10) * 10;
      var user_info = "<%= user_info %>"
      user_info = user_info.replace(/&#34;/g, '"')
      user_info = JSON.parse(user_info)
      for (user of Object.keys(user_info)){
        const icon = document.createElement("div")
        icon.id = user
        icon.style.background = "red";
        icon.style.left = user_info[user][0] + "px";
        icon.style.top = user_info[user][1] + "px";
        icon.classList.add("icon")
        icon.innerText = Object.keys(user_info).indexOf(user)
        canvas.appendChild(icon)
      }

      socket.emit("user joined", "<%= nickname %>", "<%= game_id %>", randomX, randomY)
      socket.on('user joined', function(username, game_id, x_cord, y_cord, user_id) {
        if (game_id == "<%= game_id %>"){
          if (x_cord != null && y_cord != null){
            const icon = document.createElement("div")
            icon.id = username
            icon.style.background = "red";
            icon.style.left = x_cord + "px";
            icon.style.top = y_cord + "px";
            icon.classList.add("icon")
            icon.innerText = user_id;
            canvas.appendChild(icon)
          }
        }
      })
      socket.on('movement', function(username, game_id, x_cord, y_cord) {
        if (game_id == "<%= game_id %>"){
            const icon = document.getElementById(username)
            icon.style.left = x_cord + "px";
            icon.style.top = y_cord + "px";
          }
      })
      socket.on('user left', function(username, game_id) {
        if (game_id == "<%= game_id %>"){
            document.getElementById(username).remove();
          }
      })
    </script>
  </body>
</html>
